/* styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker-wrapper {
    width: 100% !important;
}

.pad-2 {
    padding: 0.5rem;
}

button.primary-btn {
  @apply bg-primary text-white px-4 rounded hover:bg-secondary transition;
}

button.secondary-btn {
  @apply bg-secondary text-white px-4 rounded transition;
}

.logo {
  @apply text-primary font-bold;  /* Responsive logo size */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
/* Tailwind CSS for handling overflow and flex layout */

.icon {
    right: 10px;
    top: 10px;
}

.active {
  filter: brightness(0) saturate(100%) invert(38%) sepia(95%) saturate(5397%) hue-rotate(356deg) brightness(104%) contrast(101%);
  transition: filter 0.3s ease;
}

