/* styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker-wrapper {
    width: 100% !important;
}

.pad-2 {
    padding: 0.5rem;
}

.icon {
    right: 10px;
    top: 10px;
}